<p><b>Average Participation Rating (Out of 5)</b> - Average participation rating from team members feedback.</p>
<p><b>Average Effort Rating (Out of 5)</b> - Average effort rating from team members feedback.</p>
<p><b>Average Punctuality Rating (Out of 5)</b> - Average punctuality rating from team members feedback.</p>
<p>
  <b>Weighted Priority</b> - This displays the overall priority of the Team's feedback.<br>
  The Team's priority was calcuated based on their participation, effort, and punctuality ratings.<br>
  Values can be either <i>"High"</i>, <i>"Medium"</i>, <i>"Low"</i>, or <i>"No feedback"</i> and the status colour reflects the priority as red, yellow, green, or blue respectively.<br>
  <br>

  Scenarios that can result in <i>"High"</i> priority (red status):
  <ul>
    <li>More than half of the team does not submit feedback for the week. </li>
    <li>At least one member of the team has an individual priority of "High".</li>
    <li>Any of the average participation, effort, or punctuality ratings are on the lower end of the scale (between <%= Feedback::CHOICES.min %> and <%= Feedback::BAD_RATING.round(3) %>).</li>
  </ul>

  Scenarios that can result in <i>"Medium"</i> priority (yellow status):
  <ul>
    <li>More than half of the team submits feedback, but not all members have submitted yet.</li>
    <li>Any of the average participation, effort, or punctuality ratings are in the middle of the scale (between <%= Feedback::BAD_RATING.round(3) %> and <%= Feedback::OKAY_RATING.round(3) %>).</li>
  </ul>

  Scenarios that can result in <i>"Low"</i> priority (green status):
  <ul>
    <li>All team members have submitted their feedback and their average participation, effort, and punctuality ratings are in the higher end of the scale (between <%= Feedback::OKAY_RATING.round(3) %> and <%= Feedback::CHOICES.max %>).</li>
  </ul>

  Scenarios that can result in <i>"No feedback"</i> (blue status):
  <ul>
    <li>No members on the team.</li>
  </ul>
</p>
