</br>

<%= form_with(local: true, url: reset_password_url, method: :post) do |form| %>

  <% if !flash[:error].nil? %>
    <% if flash[:error].include? 'existing' %>
      <div class="field_with_errors">
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label "Existing Password" %>
    <%= form.password_field :existing_password %>
  </div>

  <% if !flash[:error].nil? %>
    <% if flash[:error].include? 'existing' %>
      </div>
    <% end %>
  <% end %>

  <% if !flash[:error].nil? %>
    <% if flash[:error].include? 'specifications' %>
      <div class="field_with_errors">
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label 'New Password' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label 'New Password Confirmation' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <% if !flash[:error].nil? %>
    <% if flash[:error].include? 'specifications' %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<br/>
<p><%= link_to 'Back', :back %></p>