<%= form_with(url: login_path, method: :post, local: true) do |form| %>
  <!-- invalid login error -->
  <% if !flash[:error].nil? %>
    <% is_invalid = flash[:error].include? 'Invalid' %>
  <% end %>

  <!-- form starts here -->
  <div class="field">
    <% if is_invalid %>
      <div class="field_with_errors">
    <% end %>

    <%= form.label :email %>

    <% if is_invalid %>
      </div>
      <div class="field_with_errors">
    <% end %>

    <%= form.text_field :email %>

    <% if is_invalid %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <% if is_invalid %>
      <div class="field_with_errors">
    <% end %>

    <%= form.label :password %>

    <% if is_invalid %>
      </div>
      <div class="field_with_errors">
    <% end %>

    <%= form.password_field :password %>

    <% if is_invalid %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Login' %>
  </div>
<% end %>
