<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <% if user.errors.full_messages.include?("Teams code cannot be blank") || %>
      <% user.errors.full_messages.include?("Teams code does not exist") || %>
      <% user.errors.full_messages.include?("Teams code and email listed have not been verified by the professor") %>
      <% is_team_code_invalid = true %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <div class=<%= is_team_code_invalid ? "field_with_errors" : "" %>>
      <%= form.label :team_code, 'Team/Admin Code' %>
    </div>
    <div class=<%= is_team_code_invalid ? "field_with_errors" : "" %>>
      <%= form.text_field :team_code %>
    </div>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <br>

  <div class="field">
    <%= form.label "What was the name of the city you were born in?" %>
    <%= form.text_field :security_q_one %>
  </div>

  <div class="field">
    <%= form.label "What is the name of the highschool you attended?" %>
    <%= form.text_field :security_q_two %>
  </div>

  <div class="field">
    <%= form.label "What was your favorite food as a child?" %>
    <%= form.text_field :security_q_three %>
  </div>

  <div class="actions">
    <%= form.submit "Create account"%>
  </div>
<% end %>
