<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <% if user.errors.full_messages.include?("Teams code cannot be blank") || %>
      <% user.errors.full_messages.include?("Teams code does not exist") %>
      <% is_team_code_invalid = true %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <% if is_team_code_invalid %>
        <div class="field_with_errors">
    <% end %>

    <%= form.label :team_code, 'Team/Admin Code' %>

    <% if is_team_code_invalid %>
        </div>
        <div class="field_with_errors">
    <% end %>

    <%= form.text_field :team_code %>

    <% if is_team_code_invalid %>
        </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Create account"%>
  </div>
<% end %>
