<%= form_with(method: :post, local: true) do |form| %>

  <div class="field">
    <%= form.label @q_1_text %>
    <%= form.text_field @random_q_1 %>
  </div>

  <div class="field">
    <%= form.label @q_2_text %>
    <%= form.text_field @random_q_2 %>
  </div>

  <%= form.hidden_field :email, value: @user_email  %>

  <div class="actions">
    <%= form.submit "Submit" , email: @user.first.email %>
  </div>

<% end %>
