<h1>Reset Password</h1>

<%= form_with(local: true, url: forgot_password_new_pass_path_url, method: :post) do |form| %>

  <div class="field">
    <%= form.label 'New Password' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label 'New Password Confirmation' %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.hidden_field :email, value: @user_email  %>
  
  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<br/>
<p><%= link_to 'Back', :back %></p>