<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>


<p>
  <strong>Team:</strong>
  <%= @user.teams.empty? ? "" : (link_to @user.teams.first.team_name, team_path(@user.teams.first)) %>
</p>

<%= link_to 'Back', :back %>
