<h1>User Verifications</h1>

<p>
  Upload a CSV file formatted with headers of <b>"team_code,email"</b> along with the subsequent rows
  stating which <b>Email</b> should be on what <b>Team</b>.
</p>
<%= form_tag user_verifications_import_path, multipart: true do %>
  <%= file_field_tag :file, required: true %>
  <%= submit_tag "Import CSV" %>
<% end %>
</br>

<% if @user_verifications.size == 0 %>
  <p>No user verifications yet!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Team Code</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @user_verifications.each do |uv| %>
        <tr id=user_verification<%= uv.id %>>
          <% team = uv.team %>
          <td><%= link_to team.team_name, team_path(team) %></td>
          <td><%= team.team_code %></td>
          <td><%= uv.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div style="text-align: center;">
  <%= will_paginate @user_verifications %>
</div>

<%= link_to 'Back', :back %>
