<h3>Filter</h3>

<%= form_with(url: path, method: :get, local: true) do |form| %>
  <div class="field">
    <%= form.label :first_name, "First name" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, "Last name" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :team_name, "Team" %>
    <%= form.select :team_name, Team.team_names, :include_blank => true %>
  </div>
  
  <div class="field">
    <%= form.label :participation_rating %>

    <%= form.select :participation_rating_start, Feedback::CHOICES, :include_blank => 'start' %>
    <%= form.select :participation_rating_end, Feedback::CHOICES, :include_blank => 'end' %>
  </div>
  

  <div class="field">
    <%= form.label :effort_rating %>

    <%= form.select :effort_rating_start, Feedback::CHOICES, :include_blank => 'start' %>
    <%= form.select :effort_rating_end, Feedback::CHOICES, :include_blank => 'end' %>
  </div>

  <div class="field">
    <%= form.label :punctuality_rating %>
    
    <%= form.select :punctuality_rating_start, Feedback::CHOICES, :include_blank => 'start' %>
    <%= form.select :punctuality_rating_end, Feedback::CHOICES, :include_blank => 'end' %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Feedback::PRIORITY_LEVEL.invert, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, value: Date.today %>
  </div>

  <%= (form.hidden_field :per_page, value: params[:per_page]) if params[:per_page].present? %>

  <div class="actions">
    <%= form.submit "Filter" %>
  </div>
<% end %>
