<h3>Filter</h3>

<%= form_with(url: path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, "Student name" %>
    <%= form.text_field :student_name %>
  </div>

  <div class="field">
    <%= form.label :team_name, "Team" %>
    <%= form.select :team_name, Team.team_names, :include_blank => true %>
  </div>
  
  <div class="field">
    <%= form.label :participation_rating %>
    <%= form.select :participation_rating, Feedback::CHOICES, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :effort_rating %>
    <%= form.select :effort_rating, Feedback::CHOICES, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :punctuality_rating %>
    <%= form.select :punctuality_rating, Feedback::CHOICES, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Feedback::PRIORITY_LEVEL.values, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="actions">
    <%= form.submit "Filter" %>
    <%= form.submit "Clear", :type => "reset" %>
  </div>
<% end %>
