<h1>Feedbacks</h1>

<p>You can find a history of all feedbacks submitted below.</p>

<%= render 'filter', path: feedbacks_path %>

<!-- show the applied filters -->
<div>
  <% if request.query_string.present? %>
    <% params = CGI.parse(URI.parse(request.original_url).query) %>
    <% if params["sort"].empty? %>
      <p><b>Applied filters:</b></p>
      
      <% Feedback::FILTERABLE_PARAMS_STRINGS.each_with_index do |filter, index| %>
        <% param = params[Feedback::FILTERABLE_PARAMS[index].name].first %>
        <% if !param.empty? %>
          <p><%= filter %>: <%= param %></p>
        <% end %>
      <% end %>

      <% param = params['priority'].first %>
      <% if !param.empty? %>
        <p>Priority: <%= Feedback::PRIORITY_LEVEL[param.to_i] %></p>
      <% end %>

      <% sdate = params['start_date'].first %>
      <% if !sdate.empty? %>
        <% edate = params['end_date'].first %>
        <p>Timestamp: <%= sdate %> to <%= edate %></p>
      <% end %>

      <p><%= link_to 'Reset', feedbacks_path %></p>
    <% end %>
  <% end %>
</div>

<br>

<table>
  <thead>
    <tr>
      <th><%= sortable "first_name", "First Name" %></th>
      <th><%= sortable "last_name", "Last Name" %></th>
      <th><%= sortable "team_name", "Team" %></th>
      <th><%= sortable "participation_rating" %></th>
      <th><%= sortable "effort_rating" %></th>
      <th><%= sortable "punctuality_rating" %></th>
      <th><%= sortable "priority" %></th>
      <th>Comments</th>
      <th><%= sortable "timestamp" %></th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.user.first_name %></td>
        <td><%= feedback.user.last_name %></td>
        <td><%= feedback.team.team_name %></td>
        <td><%= feedback.participation_rating %></td>
        <td><%= feedback.effort_rating %></td>
        <td><%= feedback.punctuality_rating %></td>
        <td><%= feedback.get_priority_word %></td>
        <%if feedback.comments.size == 0%>
          <td>Students Has Not Submitted Comments!</td>
        <%else%>
          <td><%= feedback.comments %></td>
        <%end%>
        <td><%= feedback.timestamp.strftime('%Y-%m-%d %H:%M EST') %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td>
          <%= form_with model: feedback, local: true, method: 'delete' do |f| %>
            <%= f.submit "Delete Feedback", class: "table-btn" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back', :back %>
