<h1>Feedbacks</h1>
<p>You can find a history of all feedbacks submitted below.</p>
<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Team</th>
      <th>Participation Rating</th>
      <th>Effort Rating</th>
      <th>Punctuality Rating</th>
      <th>Priority</th>
      <th>Comments</th>
      <th>Timestamp</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= link_to feedback.user.name, feedback.user %></td>
        <td><%= feedback.team.team_name %></td>
        <td><%= feedback.participation_rating %></td>
        <td><%= feedback.effort_rating %></td>
        <td><%= feedback.punctuality_rating %></td>
        <td><%= feedback.get_priority_word %></td>
        <%if feedback.comments.size == 0%>
          <td>Students Has Not Submitted Comments!</td>
        <%else%>
          <td><%= feedback.comments %></td>
        <%end%>
        <td><%= feedback.timestamp.strftime('%Y-%m-%d %H:%M EST') %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td>
          <%= form_with model: feedback, local: true, method: 'delete' do |f| %>
            <%= f.submit "Delete Feedback", class: "table-btn" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back', :back %>
