<p>
  <strong>User:</strong>
  <%= @feedback.user.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= link_to @feedback.team.team_name, team_path(@feedback.team) %>
</p>

<p>
  <strong>Participation Rating:</strong>
  <%= @feedback.participation_rating %>
</p>

<p>
  <strong>Effort Rating:</strong>
  <%= @feedback.effort_rating %>
</p>

<p>
  <strong>Punctuality Rating:</strong>
  <%= @feedback.punctuality_rating %>
</p>

<p>
  <strong>Priority Level:</strong>
  <%= @feedback.get_priority_word %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @feedback.comments %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @feedback.timestamp %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', :back %>   |
<%= link_to 'Home', '/' %>

