<p>
  <strong>User:</strong>
  <%= @feedback.user.first_name %> <%= @feedback.user.last_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @feedback.team_id %>
</p>

<p>
  <strong>Participation Rating:</strong>
  <%= @feedback.participation_rating %>
</p>

<p>
  <strong>Effort Rating:</strong>
  <%= @feedback.effort_rating %>
</p>

<p>
  <strong>Punctuality Rating:</strong>
  <%= @feedback.punctuality_rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @feedback.comments %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @feedback.timestamp %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', :back %>   |
<%= link_to 'Home', '/' %>

